<section id="todos">
  <header>
    <h2>Editing '<%= @list[:name] %>'</h2>
    <ul>
      <li>
        <form action="/lists/<%= @ind %>/delete" method="post">
        <button type="submit" class="delete">Delete list</button>
        </form>
      </li>
    </ul>
  </header>
</section>  
<form action="/lists/:number/edit" method="post">
  <dl>
    <dt>
      <label for="list_name">Edit the name of your list:</label>
    </dt>
    <dd>
      <input name="list_name" placeholder="List Name" type="text" value="<%= params[:list_name] || @list[:name] %>">
    </dd>
  </dl>
  <fieldset class="actions">
    <input type="submit" value="Save">
    <a href="/lists/<%= @ind %>">Cancel</a>
  </fieldset>  
</form>